%html
  %head
    %title Word Searcher - A simple context for practicing front end engineering.
  %body
    %h1 Word Searcher Overview and License
    %p
      %h2 Too much or too little framework?
      Why?  Ever wanted to try X or needed sample code when looking for a new job you could release but didn't know
      what to work on?  Everything was too big, too small or used too much framework?  Word Searcher hopefully gives
      you enough room to demonstrate your front end engineering skills or programming skills without having too much
      of any framework but provides enough to not be painful to get started.
    %p
      %h2 License
      This is here for primarily for the person completing this as part of an interview.  When you're searching for a new gig,
      code samples are often hard to come by so use this if we end not being a match after all is said and done!  The only 
      thing I ask that you link to this page if you deploy the project and that this page content is included 
      with source distributions. Any style on the link is fine, even "display: none".
    %footer
      %cite
        Copyright 2011
        %a{:href => "https://github.com/wesmaldonado"} Wes Maldonado
        and released under the 
        %a{:href => "http://creativecommons.org/licenses/by/3.0/"} Creative Commons by Attribution 3.0 License
