%html
  %head
    %title Word Searcher
    %script{:type => "text/javascript", :src  => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
  %body
    :javascript
      console.log("I should do some ajax word completion to /find/{input value}");
    %h1 We have lots of words.
    %p Search!
    %div.demo
      %div.ui-widget
        %label{ :for=>"word"} Word:
        %input#word 
      %div.ui-widget
        Result:
        %div#log.ui-widget-content
    %footer
      %cite
        %a{:href => '/about'} About
